
	.headersection, .footersection {background: #df0f3c none repeat scroll 0 0;}
	.icon a{background: #ac112b none repeat scroll 0 0;}
	.searchbtn input[type="text"]{background: #df0f3c none repeat scroll 0 0; border:1px solid #a56e0a;}
	.searchbtn input[type="submit"]{border: 1px solid #df0f3c;}
	input[type="submit"]{background: #b71c4b none repeat scroll 0 0; border:1px solid #9d020f;}
	.searchbtn input[type="submit"]:hover {background: #b71c43 none repeat scroll 0 0; border: 1px solid #e6af4b;}
	.navsection{background: #4ba8e6 none repeat scroll 0 0; }
	.navsection ul li{border-left: 1px solid #df0f3c; border-right: 1px solid #cf0b36;}
	.samepost h2 a{color: #ac1145;}
	.maincontent, .sidebar{background: #aec8cf none repeat scroll 0 0;}
	.samepost img{border: 1px solid #df0f3c;}
	.contentsection {border: 1px solid #ca2f3c;}
	.samesidebar h2{background: #e64b79 none repeat scroll 0 0; border-bottom: 2px solid #b71c57; color: #333;}
	.readmore a{border: 1px solid #e90d18; color: #b71c5d;}
	.pagination a{background: #e61414 none repeat scroll 0 0; border: 1px solid #a70c3b; color: #333;}
	.footermenu ul li a{color: #e6774b;}
	.samepost h2, .about h2{color: #bd0ee9;}
	.about img{border: 1px solid #b71c90;}
	.relatedpost h2{background: #e64b72 none repeat scroll 0 0; border-bottom: 2px solid #e91c60 !important;}
